
@media only screen and (min-width: 600px) {
    .header {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        background: #1abc9c;
        color: white;
        font-size: 30px;
    }

    .player-classes {
        width: 100%;
        padding: 25px;
        font-size: 30px;

    }

    .player-card {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .player-name {
        font-weight: bolder;
        border-width: thick;
        border-color: black;
        text-align: center;
        color: black;

    }

    .player-total {
        margin-left: 15px;
        border-width: thick;
        color: green;
        text-align: center;
        border-color: gold;
        width: 55px;
    }

    .winner {
        border-width: thick;
        width: 55px;
        margin-left: 25px;
        border-color: green;
    }

    .loser {
        border-width: thick;
        width: 55px;
        margin-left: 20px;
        border-color: red;
    }

    .add-or-reset {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 30px;
        margin-top: 22px;
        margin-bottom: 22px;
    }

    .add-player {
        background: #00fd00;
        border-radius: 5px;
        font-weight: bolder;
        font-size: 15px;
    }

    .reset-game {
        margin-left: 10px;
        background: #ee4242;
        border-radius: 5px;
        font-weight: bolder;
        font-size: 15px;
    }

    .players-record {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 35px;
    }

    .remove-record {
        background: red;
        border-radius: 15px;
    }

    th, td {
        border:  0.20rem solid black;
    }

    #remove-record {
        border: none;
    }

    #table-data {
        text-align: center;
    }

    .submit {
        display: flex;
        justify-content: right;

        width: 100%;
        margin-top: 3%;
    }
    #submit {
        background: #1abc9c;
        color: white;
        font-size: 25px;
        border-radius: 15px;
    }

    th {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 599px) {
    .header {
        background-color: blue;
    }
}


