.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.player-classes {
    padding: 25px;
    font-size: 30px;

}

.player-name {
    font-weight: bolder;
    border-width: thick;
    border-color: black;
    text-align: center;
    color: black;

}

.player-total {
    border-width: thick;
    color: green;
    text-align: center;
    border-color: gold;
    width: 55px;
}

.winner {
    border-width: thick;
    width: 55px;
    margin-left: 15px;
    border-color: green;
}

.loser {
    border-width: thick;
    width: 55px;
    margin-left: 20px;
    border-color: red;
}

.add-or-remove-players {
    margin: auto;
    width: 18%;
    padding: 10px;
}

.add-player {
    background: #00fd00;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
}

.remove-player {
    background: #ee4242;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
}

.player-card {

}

.remove-selected-player {
    background: #ff0000;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 15px;
}